// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/



body{
    width: 70%;
    margin: 0 auto;
}

header{
    width: 100%;

}


.logo{
    img {
    height: 70px;
}
}

.products{

	width:70%;
	margin-right: 0 auto;
	margin-left: 0 auto;

section{
	margin-bottom: 10px;
    float: left;
	img {
    float: left;
    width: 200px;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-right: 10px;
}
}

}