// Place all the styles related to the Store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/



.store{
	width:70%;
	margin-right: 0 auto;
	margin-left: 0 auto;

ul{
	margin-bottom: 10px;
    float: left;
	li{
		list-style: none;
		float: left;
		margin-bottom: 10px;
	img {
    float: left;
    width: 200px;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-right: 10px;
}
	}
}
}